*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

:root {
  --bg-color-primary: #161616;
  --bg-color-secondary: #dd0000;

  --font-color-primary: #ffffff;
  --font-color-secondary: #161616;
  --font-color-tartiary: #4d4d4d;

  --font-family-heading: 'Lato', sans-serif;
  --font-family-body: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-heading);
}

p,
span {
  font-family: var(--font-family-body);
}

.flex {
  display: flex;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.hero {
  display: flex;
  align-items: flex-end;
  background-color: var(--bg-color-primary);
  border-radius: 2rem;
  padding: 1rem 4rem 0 4rem;
  color: var(--font-color-primary);
}

.hero > * {
  flex-basis: 100%;
}

.hero__title {
  font-size: 3rem;
  font-weight: 900;
}

.hero__text {
  padding-bottom: 16px;
}

.hero__text-block {
  padding: 4rem 2rem 4rem 2rem;
  /* align-self: center; */
}

.hero__btn {
  background-color: var(--bg-color-secondary);
  border: none;
  color: var(--font-color-primary);
  padding: 8px 16px;
  font-family: var(--font-family-heading);
  border-radius: 4px;
}

.hero__img {
  height: 100%;
  width: 100%;
}

/* BLOG SECTION */

.grid-container {
  display: grid;
  grid-template-columns: 320px 1fr;
  gap: 1rem;
  padding-top: 3rem;
}

.sidemenu {
  background-color: var(--bg-color-primary);
  list-style: none;
  padding: 16px;
  font-family: var(--font-family-heading);
  align-self: start;
  border-radius: 4px;
}

.sidemenu__li-btn:not(:last-child) {
  margin-bottom: 8px;
}

.sidemenu__link {
  display: block;
  text-decoration: none;
  color: var(--font-color-secondary);
  background-color: #fff;
  padding: 8px;
  border-radius: 4px;
}

.sidemenu__link--active {
  background-color: var(--bg-color-secondary);
  color: var(--font-color-primary);
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  gap: 1rem;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 4px;
  flex: 30%;
}

.card__img {
  width: 100%;
}

.card__container {
  display: flex;
  flex-direction: column;
  padding: 8px;
  justify-content: flex-end;
}

.card__tag {
  display: inline-block;
  text-decoration: none;
  color: var(--font-color-tartiary);
  font-family: var(--font-family-body);
  border: 1px solid var(--font-color-tartiary);
  padding: 4px 16px;
  font-size: 0.8rem;
  align-self: flex-start;
  border-radius: 4px;
}

.card__info {
  display: inline-flex;
}

.card__info {
  padding-right: 8px;
}

.card__icon {
  display: inline-block;
}
